.main-container-wrapper{
    width: 800px;
    height: 550px;
    margin-top: 100px;
    background-color: aquamarine;
    border: solid 15px;
}

.main-container{
    position: relative;
}

#road{
    display: flex;
    position: relative;
    background-color: rgb(48, 45, 45);
    /* background-image: url('../assets/road.png'); */
    height: 550px;  
    width: calc(100%/2);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.road-section{
    /* width: calc(100%/3);
    height: 550px; */
    /* background-color: brown; */
}

.left-lane, .right-lane{
    background-color: white;
    height: 120px;
    width: 10px;
    position: absolute;
}

.left-lane{
    left: calc(100%/3 - 10px);
}

.right-lane{
    right: calc(100%/3 - 10px);
}

#score{
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: brown;
    min-height: 40px;
    width: 150px;
}

#pop-up{
    border-radius: 15px;
    line-height: 25px;
    margin: 30px;
    transform: translateY(-300%);
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.display-key{
    font-weight: bold;
    color: aquamarine;
}

#pop-up:hover{
    background-color: rgb(88 55 55);
    color: white;
    cursor: pointer;
}

.player-car{
    position: absolute;
    top: calc(100% - 90px);
    left: calc(50% - 45px/2);
    background-image: url('../assets/player_car.png');
    height: 90px;
    width: 45px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.blocker-cars{
    position: absolute;
    /* top: calc(100% - 90px);
    left: calc(50% - 45px/2); */
    background-image: url('../assets/blocker_car1.png');
    height: 90px;
    width: 45px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}



